

<div class="justify-content-md-center">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-3">
      <p class="fs-3 my-3">Capitulación</p>
    </div>

  </div>

  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-3 mb-3">
      <p-button label="Agregar" icon="pi pi-plus" iconPos="right" routerLink="form-rol" (click)="openCreateForm()" class="mb-3"></p-button>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <ngx-datatable class="material mt-2"
  [rows]="rows"
  [headerHeight]="70"
  [footerHeight]="70"
  rowHeight="auto"
  [limit]="7"
  [scrollbarH]="true"
  [loadingIndicator]="loadingIndicator"
  columnMode="force">
  
  <!-- <ngx-datatable-column name="no" [resizeable]="true" [width]="100">
    <ng-template ngx-datatable-header-template>
      No
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.no }}
    </ng-template>
  </ngx-datatable-column> -->
  
  <ngx-datatable-column name="consecutivo" [resizeable]="true" [width]="150">
    <ng-template ngx-datatable-header-template>
      Consecutivo
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.sequential }}
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column name="capitulo" [resizeable]="true" [width]="300">
    <ng-template ngx-datatable-header-template>
      Capítulo
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.name }}
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
    </div>
    <div class="col-1"></div>
  </div>

</div>
