
<div class="container">
  <p class="h2 my-3">Nueva cotización</p>

  <form class="formu" [formGroup]="cotizacionForm" (ngSubmit)="onSubmit()">
    <div class="row">

      <div class="mb-3 form-group col-md-12">
        <ion-label>DATOS CLIENTE</ion-label>
      </div>

      <div class="mb-3 form-group col-md-2">
        <label class="form-label" for="">Sede:</label>
        <select class="form-select" formControlName="sede" aria-label="Default select example">
          <option value="1">BOG</option>
          <option value="2">MED</option>
          <option value="3">PER</option>
        </select>
      </div>

      <div class="mb-3 form-group col-md-2">
        <label class="form-label" for=""># Consecutivo:</label>
        <input type="text" class="form-control is-valid" formControlName="sequential_number" id="validationServer01" placeholder="#" />
      </div>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="">Identificación:</label>
        <input type="number" class="form-control" formControlName="identification" id="" placeholder="" required>
      </div>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="">Razón social</label>
        <input type="text" class="form-control" formControlName="razon_social" id="" placeholder="" required>
      </div>
      <br>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="">Razón Comercial</label>
        <input type="text" class="form-control"  formControlName="razon_comercial" id="" placeholder="" required>
      </div>


      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="">Valor cotizado</label>
        <input type="text" class="form-control"  formControlName="valor_cotizado"id="" placeholder="$" required>
      </div>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="">Observaciones</label>
        <textarea  formControlName="observaciones" class="form-control" rows="4" cols="50">

        </textarea>
      </div>

      
      <div class="mb-3 form-group col-md-6">
        <label  *ngIf="!hasCotitzationDataToPatch" class="form-label" for="">Adjuntar Cotización</label>
        <input *ngIf="!hasCotitzationDataToPatch" type="file" class="form-control" formControlName="cotizacion_file_field" (change)="onFileSelected($event)" placeholder="" required>
        <button *ngIf="contization_file" (click)="watchDocument()" type="button" class="btn btn-primary">Cotización adjuntada</button>
      </div>
      <br>

    </div>



    <div *ngIf="!hasCotitzationDataToPatch" class="d-flex justify-content-end col-md-12">
      <button type="submit" class="btn btn-primary">Crear Cotización</button>
    </div>

  </form>
</div>




<!-- <div class="mb-3 form-group col-md-12">
  <ion-label>I. Datos del proyecto</ion-label>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" size="40" class="form-control" id="validation09" placeholder="Clase del presupuesto" required>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" size="40" class="form-control" id="validation09" placeholder="Tipo de proyecto" required>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" size="40" class="form-control" id="validation09" placeholder="Uso del proyecto" required>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" size="40" class="form-control" id="validation09" placeholder="Número del proyecto" required>
</div>

<div class="mb-3 form-group col-md-12">
<ion-label>II. DATOS DEL CLIENTE, PREDIO Y/O LOTE</ion-label>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" size="40" class="form-control" id="validation09" placeholder="Nombre del cliente" required>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" size="40" class="form-control" id="validation09" placeholder="Dirección predio" required>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" size="40" class="form-control" id="validation09" placeholder="Area del lote" required>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" size="40" class="form-control" id="validation09" placeholder="Area a intervenir" required>
</div>

<div class="mb-3 form-group col-md-12">
<ion-label>III. DATOS DEL PRESUPUESTO</ion-label>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" class="form-control" id="validation09" placeholder="Clase del presupuesto" required>
</div>

<div class="mb-3 form-group col-md-2">
<br>
<input type="text" class="form-control" id="validation09" placeholder="Versión" required>
</div>

<div class="mb-3 form-group col-md-2">
<br>
<input type="text" class="form-control" id="validation09" placeholder="Costo directo" required>
</div>

<div class="mb-3 form-group col-md-2">
<br>
<input type="text" class="form-control" id="validation09" placeholder="Costo indirecto" required>
</div>

<div class="mb-3 form-group col-md-2">
<br>
<input type="text" class="form-control" id="validation09" placeholder="Costo total" required>
</div>

<div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Estado</label>
       <select class="form-select" aria-label="Default select example">
          <option selected>Seleccione</option>
          <option value="1">Abierta</option>
          <option value="2">Adjudicada a CBK</option>
          <option value="3">Adjudicada a otro</option>
          <option value="3">No dan información</option>
          <option value="3">No se ha podido establecer comunicación</option>
          <option value="3">No se va a ejecutar</option>
          <option value="3">Suspendido o aplazado</option>
         </select>
      </div>


<div class="mb-3 form-group col-md-6">
<label class="form-label" for="validation06">Clasificación</label>
<input type="text" class="form-control" id="validation06" placeholder="" required>
</div>
<div class="mb-3 form-group col-md-6">
<label class="form-label" for="validation09">Contacto</label>
<input type="number" class="form-control" id="validation09" placeholder="#" required>
</div>
<div class="mb-3 form-group col-md-6">
<label class="form-label" for="validation08">Objeto de la cotización</label>
<input type="text" class="form-control" id="validation08" placeholder="" required>
</div> -->




