
<div class="container card">
  <p class="h2 my-3">Cotización</p>

  <form  [formGroup]="cotizacionForm" (ngSubmit)="onSubmit()" class="card-body">
    <div class="row" *ngIf="!isCreating">

      <div class="mb-3 form-group col-md-12">
        <ion-label>Datos cotización</ion-label>
      </div>

      <div class="mb-3 form-group col-md-2">
        <label class="form-label" for="">Sede:</label>
        <select class="form-select" formControlName="sede" aria-label="Default select example">
          <option value="1">BOG</option>
          <option value="2">MED</option>
          <option value="3">PER</option>
        </select>
      </div>

      <div class="mb-3 form-group col-md-2">
        <label class="form-label" for=""># Consecutivo:</label>
        <input type="text" class="form-control is-valid" formControlName="sequential_number" id="validationServer01" placeholder="#" />
      </div>

      <div class="mb-3 form-group col-md-8">
        <label class="form-label" for="">Identificación:</label>
        <input type="number" class="form-control" formControlName="identification">
      </div>

      <div class="mb-3 form-group col-md-6" *ngIf="isNit">
        <label class="form-label" for="">Razón social</label>
        <input type="text" class="form-control" formControlName="razon_social">
      </div>
      <br>

      <div class="mb-3 form-group col-md-6" *ngIf="isNit">
        <label class="form-label" for="">Razón Comercial</label>
        <input type="text" class="form-control"  formControlName="razon_comercial">
      </div>

      <div class="mb-3 form-group col-md-6" *ngIf="!isNit">
        <label class="form-label" for="">Nombre</label>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <br>

      <div class="mb-3 form-group col-md-6" *ngIf="!isNit">
        <label class="form-label" for="">Apellido</label>
        <input type="text" class="form-control"  formControlName="surname">
      </div>



    </div>
    <div class="row" >
      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="">Valor cotizado</label>
        <input type="text" class="form-control" currencyMask   formControlName="valor_cotizado" id=""  [options]="{ prefix: '$ ', thousands: '.', decimal: ',',precision: 0 }">
        <div *ngIf="globalService.isFieldInvalid(valor_cotizado, 'required')">
          <small style="color: #ef4444;">Este campo no puede estar vació</small>
        </div>
      </div>

            <!-- Modal -->
                <!-- Button trigger modal -->
               <!--  <button
                type="button"
                class="col-md-4"
                for="validation09"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                >
                Calcular AIU + IVA
              </button> -->
              <br />



      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="">Observaciones</label>
        <textarea  formControlName="observaciones" class="form-control" rows="4" cols="50">

        </textarea>
        <div *ngIf="globalService.isFieldInvalid(observaciones, 'required')">
          <small style="color: #ef4444;">Este campo no puede estar vació</small>
        </div>
      </div>


      <div class="mb-3 form-group col-md-6">
        <label  *ngIf="!hasCotitzationDataToPatch || isEditing" class="form-label" for="">Adjuntar Cotización</label>
        <input *ngIf="!hasCotitzationDataToPatch || isEditing" type="file" accept=".docx,image/jpeg,image/png,application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,vnd.openxmlformats-officedocument.wordprocessingml.document" class="form-control mb-3" formControlName="cotizacion_file_field" (change)="onFileSelected($event)" placeholder="">
        <div *ngIf="!hasCotitzationDataToPatch || isEditing">

          <div *ngIf="globalService.isFieldInvalid(cotizacion_file_field, 'required')">
            <small style="color: #ef4444;">Este campo no puede estar vació</small>
          </div>
        </div>

        <p-button  (click)="watchDocument()" *ngIf="hasCotitzationDataToPatch && !isEditing" label="Ver cotización adjunta" icon="pi pi-paperclip" iconPos="right" styleClass="p-button-danger"></p-button>
      </div>

      <br>

    </div>

    <div class="mb-3 form-group col-md-12" *ngIf="!isCreating">
      <ion-label>Acciones</ion-label>
    </div>
    <div class="row" *ngIf="!isCreating">
      <div class="col-md-12" style="    display: flex;gap: 10px;">
        <p-button (onClick)="editContization()" *ngIf="!isEditing && hasCotitzationDataToPatch" label="Editar cotización" icon="pi pi-pencil" iconPos="right" styleClass="p-button-warning"></p-button>
        <p-button (onClick)="cancelEditContization()" *ngIf="isEditing && hasCotitzationDataToPatch" label="Cancelar" icon="pi pi-times" iconPos="right" styleClass="p-button-danger"></p-button>
        <p-button (onClick)="openModalVersions()" label="Ver versiones" *ngIf="hasCotitzationDataToPatch" icon="pi pi-database" iconPos="right"></p-button>
        <p-button [disabled]="cotizacionForm.invalid"  type="submit" icon="pi pi-plus" [label]="isEditing ? 'Guardar' : 'Crear Cotización'" *ngIf="!hasCotitzationDataToPatch || isEditing" styleClass="p-button-success "></p-button>
      </div>

    </div>

  </form>
</div>


<br>
<br>
 <!-- Modal -->
              <!-- <div
              class="modal fade modal_stilos"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
              >
              <div class="modal-dialog  ">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Calculadora de precios
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form>

                      <div class="form-group">
                        <label for="admin">Administración:</label>
                        <input type="number" class="form-control" id="admin" [(ngModel)]="admin">
                        <input type="number" class="form-control" id="totalAdmin" [(ngModel)]="total" disabled>
                      </div>
                      <div class="form-group">
                        <label for="imprevisto">Imprevisto:</label>
                        <input type="number" class="form-control" id="imprevisto" [(ngModel)]="imprevisto">
                        <input type="number" class="form-control" id="totalImprevisto" [(ngModel)]="total" disabled>
                      </div>
                      <div class="form-group">
                        <label for="utilidad">Utilidad:</label>
                        <input type="number" class="form-control" id="utilidad" [(ngModel)]="utilidad">
                        <input type="number" class="form-control" id="totalUtilidad" [(ngModel)]="total" disabled>
                      </div>
                      <div class="form-group">
                        <label for="iva">IVA:</label>
                        <input type="number" class="form-control" id="iva" [(ngModel)]="iva">
                        <input type="number" class="form-control" id="totalIva" [(ngModel)]="total" disabled>
                      </div>
                      <div class="form-group">
                        <label for="total">Total:</label>
                        <input type="number" class="form-control" id="total" [(ngModel)]="total" disabled>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              </div> -->
              <!-- Modal -->



<!-- <div class="mb-3 form-group col-md-12">
  <ion-label>I. Datos del proyecto</ion-label>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" size="40" class="form-control" id="validation09" placeholder="Clase del presupuesto" required>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" size="40" class="form-control" id="validation09" placeholder="Tipo de proyecto" required>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" size="40" class="form-control" id="validation09" placeholder="Uso del proyecto" required>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" size="40" class="form-control" id="validation09" placeholder="Número del proyecto" required>
</div>

<div class="mb-3 form-group col-md-12">
<ion-label>II. DATOS DEL CLIENTE, PREDIO Y/O LOTE</ion-label>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" size="40" class="form-control" id="validation09" placeholder="Nombre del cliente" required>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" size="40" class="form-control" id="validation09" placeholder="Dirección predio" required>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" size="40" class="form-control" id="validation09" placeholder="Area del lote" required>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" size="40" class="form-control" id="validation09" placeholder="Area a intervenir" required>
</div>

<div class="mb-3 form-group col-md-12">
<ion-label>III. DATOS DEL PRESUPUESTO</ion-label>
</div>

<div class="mb-3 form-group col-md-3">
<br>
<input type="text" class="form-control" id="validation09" placeholder="Clase del presupuesto" required>
</div>

<div class="mb-3 form-group col-md-2">
<br>
<input type="text" class="form-control" id="validation09" placeholder="Versión" required>
</div>

<div class="mb-3 form-group col-md-2">
<br>
<input type="text" class="form-control" id="validation09" placeholder="Costo directo" required>
</div>

<div class="mb-3 form-group col-md-2">
<br>
<input type="text" class="form-control" id="validation09" placeholder="Costo indirecto" required>
</div>

<div class="mb-3 form-group col-md-2">
<br>
<input type="text" class="form-control" id="validation09" placeholder="Costo total" required>
</div>

<div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Estado</label>
       <select class="form-select" aria-label="Default select example">
          <option selected>Seleccione</option>
          <option value="1">Abierta</option>
          <option value="2">Adjudicada a CBK</option>
          <option value="3">Adjudicada a otro</option>
          <option value="3">No dan información</option>
          <option value="3">No se ha podido establecer comunicación</option>
          <option value="3">No se va a ejecutar</option>
          <option value="3">Suspendido o aplazado</option>
         </select>
      </div>


<div class="mb-3 form-group col-md-6">
<label class="form-label" for="validation06">Clasificación</label>
<input type="text" class="form-control" id="validation06" placeholder="" required>
</div>
<div class="mb-3 form-group col-md-6">
<label class="form-label" for="validation09">Contacto</label>
<input type="number" class="form-control" id="validation09" placeholder="#" required>
</div>
<div class="mb-3 form-group col-md-6">
<label class="form-label" for="validation08">Objeto de la cotización</label>
<input type="text" class="form-control" id="validation08" placeholder="" required>
</div> -->




