<ion-title>Listado de Cotizaciones</ion-title>


<div class="row formu">
  <div class="col-1"></div>
  <div class="col-10">
    <div >
      <ngx-datatable
      class="material"
      [rows]="rows"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [limit]="10"
      [scrollbarH]="true"
      >
      <ngx-datatable-column [resizeable]="true" [width]="200">
        <ng-template ngx-datatable-header-template>
          Sede:
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.sede}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [resizeable]="true" [width]="200">
        <ng-template ngx-datatable-header-template>
          Consecutivo:
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.Consecutivo}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [resizeable]="true" [width]="200">
        <ng-template ngx-datatable-header-template>
          Identificación:
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.identification}}
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column [resizeable]="true" [width]="200">
        <ng-template ngx-datatable-header-template>
          Razon social
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.razon_social}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [resizeable]="true" [width]="200">
        <ng-template ngx-datatable-header-template>
          Razon comercial
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.razon_comercial}}
        </ng-template>
      </ngx-datatable-column>





      <ngx-datatable-column [resizeable]="true" [width]="200">
        <ng-template ngx-datatable-header-template>
          Cotizacion Adjunta:
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
        <!--  {{row.income_statement_file}} -->
          <ion-button (click)="watchDocument(row.cotizacion_file_fieled)">
            <ion-icon  slot="icon-only" name="document-sharp"></ion-icon>
          </ion-button>

        </ng-template>
      </ngx-datatable-column>


      </ngx-datatable>
</div>
  </div>
  <div class="col-1"></div>

</div>
