ion-app {
  background-color: rgb(188, 198, 207);

  // background-image:  url(/frontend/src/assets/icon/Logo_Cbk_4.png);
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
.logo{
  width: 30rem;
  height: 30rem;

}
.logo-cubikar-background {
  position: absolute;
  width: 100%;
  height: 10rem;
  margin-top: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.3;
}
