
<div class="container">
  <p class="h2 my-3"><b>Editar oferta comercial</b>.</p>
  <form  [formGroup]="offersForm" (ngSubmit)="onSubmit()" class="formu">

    <div class="row">

      <div class="mb-3 form-group col-md-2">
        <label class="form-label" for="validation01"># Consecutivo</label>
        <input type="number"  [readonly]="true" formControlName="sequential_number" class="form-control is-valid"   id="validationServer01" placeholder="#" >
      </div>

      <!-- <div class="mb-3 form-group col-md-2">
        <label class="form-label" for="validation01">Fecha de asignación</label>
        <input type="date" class="form-control is-valid"  formControlName="assignment_date" id="validationServer01" value="Otto" required placeholder="fecha" value="#" required >
      </div> -->

      <div class="mb-3 form-group col-md-10">
        <label class="form-label" for="validation03">Número identificación cliente *</label>
        <input type="number" class="form-control" [ngClass]="isCustomerFound === null ? '' : isCustomerFound ? 'is-valid' : 'is-invalid'" formControlName="customer_identification" id="validation03" placeholder="" >
        <div class="valid-feedback">
          Cliente encontrado
        </div>
        <div class="invalid-feedback">
          Cliente no encontrado por favor digite un numero correcto.
        </div>
      </div>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation01">Nombres *</label>
        <input type="text" class="form-control" formControlName="name" [readonly]="true" id="validation01"  >
      </div>
      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation01">Apellidos *</label>
        <input type="text" class="form-control"  formControlName="surname" [readonly]="true" id="validation01"  >
      </div>
      <div class="mb-3 form-group col-md-12">
        <label class="form-label" for="validation06">Razón comercial *</label>
        <input type="text" class="form-control" formControlName="razon_comercial" [readonly]="true" id="validation06" placeholder="" required>
      </div>



      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Responsable *</label>
        <select class="form-select"  formControlName="responsable_id"aria-label="Default select example">
          <option *ngFor="let user of usersListResponsable" [value]="user.id">{{user.name}}</option>
        </select>
      </div>



      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Tipo de contratación *</label>
        <select  [(ngModel)]="tipoContratacion" class="form-select"  formControlName="contract_type"aria-label="Default select example">
          <option selected>Seleccione</option>
          <option value="1">Precio global fijo</option>
          <option value="2">Precio unitario fijo</option>
          <option value="3">Administración delegada</option>
          <option value="otro">Otro</option>
        </select>
        <br>
        <input class="form-control" *ngIf="tipoContratacion === 'otro'" type="text" placeholder="Ingrese el tipo de contratación">

      </div>






      <div class="mb-3 form-group col-md-6">
        <label  class="form-label" for="validation09">Tipo de servicio *</label>
        <select  [(ngModel)]="tipoServicio" class="form-select"  formControlName="service_type"aria-label="Default select example">
          <option selected>Seleccione</option>
          <option value="1">Construcción</option>
          <option value="2">Mantenimiento</option>
          <option value="3">Consultoria</option>
          <option value="otro">Otro</option>
        </select>
        <br>
        <input class="form-control" *ngIf="tipoServicio === 'otro'" type="text" placeholder="Ingrese el tipo de servicio">

      </div>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Sector productivo *</label>
        <select [(ngModel)]="sectorProductivo" class="form-select"  formControlName="sector_productivo"aria-label="Default select example">
          <option selected>Seleccione</option>
          <option value="1">Industrial</option>
          <option value="2">Logistico</option>
          <option value="3">Comercial</option>
          <option value="3">Salud/Hospitalario</option>
          <option value="3">Institucional</option>
          <option value="otro">Otro</option>
        </select>
        <br>
        <input class="form-control" *ngIf="sectorProductivo === 'otro'" type="text" placeholder="Ingrese el sector productivo">

      </div>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Objeto *</label>
        <textarea type="text" class="form-control" formControlName="object_description" id="validation09" placeholder="Objeto" required></textarea>
      </div>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation08">Número</label>
        <input type="number" class="form-control" formControlName="numero" id="validation08" placeholder="#" required>
      </div>


      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Cuantía (Presupuesto oficial)</label>
        <input type="text" class="form-control" formControlName="cuantia" id="validation09" placeholder="$" required>
      </div>
      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Ubicación *</label>
        <input type="text" class="form-control"  formControlName="location" id="validation09" placeholder="" required>
      </div>
      <br>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Fecha de publicación *</label>
        <input type="date" class="form-control"  formControlName="release_date" id="validation09" placeholder="Cargue archivo" required>
      </div>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Fecha de entrega * </label>
        <input type="date" class="form-control"  formControlName="delivery_date" id="validation09" placeholder="Seleccione" required>
      </div>
    </div>
    <br>

<!-- Modal -->
   <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" formControlName="visit_date"  for="validation09" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Adicionar Visita
</button>
<br>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear visita</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 form-group col-md-8">
          <label class="form-label" for="validation01">Lugar visita</label>
          <input type="text" class="form-control">
        </div>

        <div class="mb-3 form-group col-md-6">
          <label class="form-label" for="validation09">Fecha visita * </label>
          <input type="date" class="form-control"  formControlName="visit_date" id="validation09" placeholder="Seleccione" required>
        </div>

        <div class="mb-3 form-group col-md-8">
          <label class="form-label" for="validation01">Persona que atiende</label>
          <input type="text" class="form-control">
        </div>

        <div class="mb-3 form-group col-md-8">
          <label class="form-label" for="validation01">Número de contacto</label>
          <input type="number" class="form-control">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar Visita</button>
      </div>
    </div>
  </div>
</div>

<br>
  <div class="mb-3 form-group col-md-6">
      <label class="form-label" for="validation09">Observaciones</label>
      <textarea type="textarea" class="form-control"  formControlName="observations" id="validation09" placeholder=""></textarea>
    </div>


    <div class="mb-3 form-group col-md-6">
      <label class="form-label" for="validation09">Anexos</label>
      <input type="file" class="form-control"  formControlName="anexos_file_field" (change)="onFileChange($event, 'anexos_file_field')" id="validation09" placeholder="Seleccione" required textarea>
    </div>




    <div class="d-flex justify-content-end col-md-12">
      <button type="submit" class="btn btn-primary">Editar oportunidad</button>
    </div>

    <div *ngIf="registeredSuccessfully" class="alert alert-success alert-dismissible fade show mt-2" role="alert">
      <strong>Mensaje</strong>  Oferta registrada exitosamente
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

  </form>
</div>
