
 nav{
 background-color: #33c3cc;
 color: rgb(17, 16, 16);
 height: 60px; /* reducir la altura del menú */

}

.is-active{
  color: #33c3cc;
  height: 60px; /* reducir la altura del menú */
}


/* Estilo para el menú de navegación */
.my-navbar {
  background: linear-gradient(to right, #6fd5ea, #2C99CA);
  // background-color: #37ADC6; /* color de fondo azul */
  color: rgb(18, 13, 13); /* color del texto */

  justify-content: space-between; /* alinear los elementos a los extremos del menú */
  position: relative;
  z-index: 1000; /* valor alto para que el navbar aparezca encima del logo de fondo */
}

/* Estilos para el logo en el extremo izquierdo del menú */
.my-logo {
  display: flex;
  align-items: center;
  margin-right: 50px; /* espacio entre el logo y los elementos del menú */

}

/* Estilos para el botón de cerrar sesión en el extremo derecho del menú */
.my-logout-btn {
  width: 40px; /* ancho del botón */
  height: 40px; /* alto del botón */
  border-radius: 50%; /* convierte el botón en un círculo */
}

/* Estilos para el fondo con el logo */
.logo-cubikar-background {
  background-image: url('../../assets/icon/Logo_Cubikar_5.png'); /* ruta del logo */
  background-size: cover; /* Adjust image size to cover the entire div */
  background-position: center; /* Center the image */
  //opacity: 0.6; /* opacidad del fondo */
  z-index: -1;

}




