

<div class="justify-content-md-center formu">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-3">
      <p class="fs-3 my-3">Listado de actividades</p>
    </div>

  </div>

  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-3 mb-3">
      <p-button label="Agregar" icon="pi pi-plus" iconPos="right" routerLink="form-rol" class="mb-3" (click)="openCreateForm()"></p-button>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <ngx-datatable
  class="material mt-2"
  [rows]="data"
  [headerHeight]="70"
  [footerHeight]="70"
  rowHeight="auto"
  [limit]="7"
  [scrollbarH]="true"
  [loadingIndicator]="loadingIndicator"
  columnMode="force"
>
<ngx-datatable-column name="city" [resizeable]="true" >
  <ng-template ngx-datatable-header-template>
    CIUDAD
  </ng-template>
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row?.customer?.municipio?.name }}
  </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="project" [resizeable]="true" >
  <ng-template ngx-datatable-header-template>
    PROYECTO
  </ng-template>
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row.description }}
  </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="capacity" [resizeable]="true" >
  <ng-template ngx-datatable-header-template>
    CAP
  </ng-template>
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row.cap }}
  </ng-template>
</ngx-datatable-column>

<!-- <ngx-datatable-column name="description" [resizeable]="true" [width]="300" >
  <ng-template ngx-datatable-header-template>
    DESCRIPCION
  </ng-template>
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row.description }}
  </ng-template>
</ngx-datatable-column> -->

<ngx-datatable-column name="unit" [resizeable]="true" >
  <ng-template ngx-datatable-header-template>
    UNIDAD
  </ng-template>
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row.unit | unit}}
  </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="quantity" [resizeable]="true" >
  <ng-template ngx-datatable-header-template>
    CANT.
  </ng-template>
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row.quantity }}
  </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="unit_price" [resizeable]="true" >
  <ng-template ngx-datatable-header-template>
    VR. UNITARIO
  </ng-template>
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row.unit_value }}
  </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="unit_price" [resizeable]="true" >
  <ng-template ngx-datatable-header-template>
    Capitulo
  </ng-template>
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row.chapter.name }}
  </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="unit_price" [resizeable]="true" >
  <ng-template ngx-datatable-header-template>
    Accciones
  </ng-template>
  <ng-template let-row="row" ngx-datatable-cell-template>
    <p-button (click)="onCreateApu(row)" icon="pi pi-dollar" styleClass="p-button-rounded p-button-success" pTooltip="Crear APU" tooltipPosition="bottom"></p-button>
  </ng-template>
</ngx-datatable-column>

</ngx-datatable>
    </div>
    <div class="col-1"></div>
  </div>

</div>
