<div class="container">
  <p class="h2 my-3">Seguimientos</p>

  <form class="formu" [formGroup]="seguimientosForm" (ngSubmit)="onSubmitSeguimientosForm()">
    <div class="row">

      <div class="mb-3 form-group col-md-12">
        <ion-label>Datos seguimiento</ion-label>
      </div>

      <div class="mb-3 form-group col-md-5">
        <label class="form-label" for="">Estado:*</label>
        <select class="form-select" formControlName="status" aria-label="Default select example">
          <option [value]="option.value" *ngFor="let option of statusOptionsSeguimiento">{{option.name}}</option>
        </select>
      </div>

      <div class="mb-3 form-group col-md-5">
        <label class="form-label" for="">Observaciones: *</label>
        <textarea  formControlName="description" class="form-control" rows="2" cols="50">

        </textarea>
      </div>

      
      <div class="col-md-2" style="    display: flex;gap: 10px;     margin-top: 30px; ">
        <p-button [disabled]="seguimientosForm.invalid"  type="submit" icon="pi pi-plus" label="Guardar"  styleClass="p-button-success "></p-button>
      </div>
    </div>

    <div class="mb-3 form-group col-md-12">
      <ion-label>Seguimientos</ion-label>
    </div>

    <ngx-datatable
    class="material mt-2"

    [rows]="rowsSeguimientos"
    [headerHeight]="70"
    [footerHeight]="70"
    rowHeight="auto"
    [limit]="10"
    [scrollbarH]="true"
    columnMode="force"
  >
  <ngx-datatable-column name="identification_type" [resizeable]="true">
    <ng-template ngx-datatable-header-template>
      Estado:
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.status | statusSeguimiento:'name'}}
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column name="identification_type" [resizeable]="true">
    <ng-template ngx-datatable-header-template>
      Observaciones:
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.description}}
    </ng-template>
  </ngx-datatable-column>
    
    <ngx-datatable-column name="identification_type" [resizeable]="true">
      <ng-template ngx-datatable-header-template>
        Fecha creación:
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.created_at}}
      </ng-template>
    </ngx-datatable-column>

    </ngx-datatable>
  </form>


</div>
