<div class="justify-content-md-center formu">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-3">
      <p class="fs-3 my-3">APU</p>
    </div>

  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class=" d-flex flex-row gap-2 mb-3">
        
  
  
        <p-button label="Generar PDF" icon="pi pi-file-pdf" iconPos="right" styleClass="p-button-danger" (click)="onGeneratePdf()" ></p-button>
        <p-button label="Guardar APU" icon="pi pi-save" iconPos="right"   (click)="saveApu()" styleClass="p-button-success" data-tooltip="guardar apu estructura" data-tooltip-conf="right"></p-button>
    </div>
    </div>
    <div class="col-1"></div>
  </div>
  
  <div class="row justify-content-md-center">
    <div class="col-1"></div>
    <div class="col-10">
      <ngx-datatable
      class="material"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [limit]="100"
      [treeFromRelation]="'manager'"
      [treeToRelation]="'name'"
      [rows]="rows"
      (treeAction)="onTreeAction($event)"
    >
    <ngx-datatable-column name="capitulo" [resizeable]="true" [width]="500" [isTreeColumn]="true">
      <ng-template ngx-datatable-header-template>
        Descripción
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template >
        {{ row?.name ? row.name : row.description }}
      </ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="capitulo" [resizeable]="true" [width]="300" [isTreeColumn]="true">
      <ng-template ngx-datatable-header-template>
        Unidad
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template >
        {{ row.unit }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="capitulo" [resizeable]="true" [width]="300" [isTreeColumn]="true">
      <ng-template ngx-datatable-header-template>
        Rendimiento
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template >
        {{ row.performance_value }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="capitulo" [resizeable]="true" [width]="300" [isTreeColumn]="true">
      <ng-template ngx-datatable-header-template>
        Valor unitario
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template >
        {{ row.unit_value }}
      </ng-template>
    </ngx-datatable-column>
     
    <!-- <ngx-datatable-column name="capitulo" [resizeable]="true" [width]="300" [isTreeColumn]="true">
      <ng-template ngx-datatable-header-template>
        Valor parcial
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template >
        por calcular
      </ng-template>
    </ngx-datatable-column>
      -->
    <!-- <ngx-datatable-column name="capitulo" [resizeable]="true" [width]="300" [isTreeColumn]="true">
      <ng-template ngx-datatable-header-template>
        Total
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template >
        {{ row.total }}
      </ng-template>
    </ngx-datatable-column> -->

    <ngx-datatable-column name="capitulo" [resizeable]="true" [width]="400" [isTreeColumn]="true">
      <ng-template ngx-datatable-header-template>
        Acciones
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template >
          <div *ngIf="row.treeStatus === 'disabled'">
            <p-button icon="pi pi-trash" iconPos="right"   (click)="removeItemAction(row)" styleClass="p-button-danger"  data-tooltip="Eliminar" data-tooltip-conf="right"></p-button>
          </div>
          <div *ngIf="row.treeStatus !== 'disabled'">
            <p-button icon="pi pi-plus" iconPos="right"   (click)="addItemAction(row)" styleClass="p-button-success" data-tooltip="Agregar" data-tooltip-conf="right"></p-button>
          </div>
      </ng-template>
    </ngx-datatable-column>
     
    </ngx-datatable>
    
    </div>
    <div class="col-1"></div>
  </div>
</div>
