.content{
  padding: 2em;

}

.formu{
  position:sticky;
  z-index: 300; /* valor alto para que el formulario aparezca encima del logo de fondo */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

}


