<ion-content class="fondo">

  <ion-grid class="grid-container">
    <ion-row class="main-row">
      <ion-col class="barra-lateral ion-hide-lg-down">

      </ion-col>
      <ion-col class="ion-padding login-col">
        <div class="logo-container">
          <ion-img class="logo" src="../../assets/icon/Logo_Cubikar_2.png"></ion-img>
        </div>
        <p style="text-align: center;">Ingresa tu correo y contraseña  para iniciar sesión</p>

        <!-- <form [formGroup]="loginForm" style="bottom: 0;" (ngSubmit)="login()"> -->
          <ion-item class="ion-margin-bottom">
            <ion-label position="floating"><ion-icon name="person-circle-outline"></ion-icon> Correo</ion-label>
            <ion-input type="email"  ></ion-input>
          </ion-item>
          <ion-item class="ion-margin-bottom">
            <ion-label position="floating"><ion-icon name="lock-closed-outline"></ion-icon> Contraseña</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
          <ion-button type="submit" class="ion-margin-bottom" expand="block" >Iniciar Sesión</ion-button>
        <!-- </form> -->
        <div style="text-align: center;">
          <a routerLink="restore-pass"><b>¿Olvidaste tu contraseña?</b></a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
