<ion-content class="fondo">

  <ion-grid class="grid-container">
    <ion-row class="main-row">
      <ion-col class="barra-lateral ion-hide-lg-down">

      </ion-col>
      <ion-col class="ion-padding login-col">
        <div class="logo-container">
          <ion-img class="logo" src="../../assets/icon/Logo_Cubikar_2.png"></ion-img>
        </div>
        <p style="text-align: center;">Ingresa tu correo y contraseña  para iniciar sesión</p>

        <form [formGroup]="loginForm"  (ngSubmit)="login()">
          <ion-item class="ion-margin-bottom">
            <ion-label position="floating"><ion-icon name="person-circle-outline"></ion-icon> Correo</ion-label>
            <ion-input type="email" formControlName="email"  ></ion-input>
          </ion-item>
          <ion-item class="ion-margin-bottom" style="margin-top: 10px;">
            <ion-label position="floating"><ion-icon name="lock-closed-outline"></ion-icon> Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-button type="submit" [disabled]="loginForm.invalid" class="ion-margin-bottom" style="margin-top: 10px;" expand="block" >Iniciar Sesión</ion-button>
        </form>
        <!-- <div style="text-align: center;">
          <a routerLink="restore-pass"><b>¿Olvidaste tu contraseña?</b></a>
        </div> -->
        <div *ngIf="isInvalidData" class="mt-2">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Mensaje</strong> contraseña, correo invalido o cuenta no verificada
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
