
<p-accordion class="w-full">
  <p-accordionTab>
      <ng-template pTemplate="header">
          <div class="flex align-items-center">
              <i class="pi pi-calendar mr-2"></i>
              <span class="vertical-align-middle">Planeación</span>
          </div>
      </ng-template>
      <ng-template pTemplate="content">
        <h1>Gantt</h1>
        <app-gantt-syncfusion [commercial_offer_id]="commercial_offer_id"></app-gantt-syncfusion>
      </ng-template>
  </p-accordionTab>
  <p-accordionTab>
      <ng-template pTemplate="header">
          <div class="flex align-items-center">
              <i class="pi pi-wrench mr-2"></i>
              <span class="vertical-align-middle">Ejecución</span>
              <!-- <i class="pi pi-cog ml-2 ml-2"></i> -->
          </div>
      </ng-template>
      <ng-template pTemplate="content">
          <p class="m-0">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
              culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
          </p>
      </ng-template>
  </p-accordionTab>
  <p-accordionTab>
      <ng-template pTemplate="header">
          <div class="flex align-items-center">
              <i class="pi pi-briefcase mr-2"></i>
              <span class="vertical-align-middle">Cierre de Proyecto</span>
              <!-- <i class="pi pi-cog ml-2 ml-2"></i> -->
          </div>
      </ng-template>
      <ng-template pTemplate="content">
          <p class="m-0">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
              enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
          </p>
      </ng-template>
  </p-accordionTab>
</p-accordion>



