<div class="d-flex h-100 justify-content-center  text-center text-white bg-dark">
  
  
    <div class="px-3  " style="    margin-top: 111px;">
      <h1>Cuenta confirmada</h1>
      <p class="lead">Ahora puede iniciar sesión en cubikar</p>
      <p class="lead">
        <a href="http://servidor1.cubikar.com/projects/cubikar/www/" class="btn btn-lg btn-secondary fw-bold border-white bg-white " style="color:black">Iniciar sesión</a>
      </p>
    </div>
  

  

  
      
    
  
  <div id="forest-ext-shadow-host"></div></div>