<div class="container mt-4">

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="formu">
    <div class="row">

      <div class="mb-3 col-md-6">
        <label for="name" class="form-label">Nombres *</label>
        <input type="text" class="form-control" placeholder="Jose"  required formControlName="name">
      </div>

      <div class="mb-3 col-md-6">
        <label for="surname" class="form-label">Apellido *</label>
        <input type="text" class="form-control" id="surname" placeholder="Alvarez"  required formControlName="surname">
      </div>

      <div class="mb-3 col-md-12">
        <label for="validation04" class="form-label">Correo electrónico *</label>
        <input type="email" class="form-control" id="validation04" placeholder="ejemplo@gmail.com" formControlName="email">
      </div>
      <div *ngIf="!isEditingData">

        <div class="mb-3 col-md-12">
          <label for="password" class="form-label">Contraseña:</label>
          <div class="input-group">
            <input type="{{ showPassword ? 'text' : 'password' }}" id="password" name="password" class="form-control" formControlName="password">
            <button class="btn btn-outline-secondary" (click)="togglePassword()" type="button" id="togglePasswordBtn"><i class="bi bi-eye-fill"></i></button>
          </div>
        </div>
      
        <div class="mb-3 col-md-12">
          <label for="confirmPassword" class="form-label">Confirmar contraseña:</label>
          <div class="input-group">
            <input type="{{ showPassword ? 'text' : 'password' }}" id="confirmPassword" name="confirmPassword" class="form-control" formControlName="password_confirmation">
            <button class="btn btn-outline-secondary" (click)="togglePassword()" type="button" id="toggleConfirmPasswordBtn"><i class="bi bi-eye-fill"></i></button>
          </div>
        </div>
      </div>

      <div class="mb-3 col-md-12">
        <label for="roles" class="form-label">Roles</label>
        <select class="form-select" aria-label="Default select example" formControlName="role_id">
          <option *ngFor="let role of rolesData" [value]="role.id">{{role.name}}</option>
        </select>
      </div>

    </div>
    <p-button [label]="isEditingData ? 'Editar' :'Guardar'" type="submit" [disabled]="userForm.invalid" [loading]="isSavingData"></p-button>
  </form>

<p-toast position="bottom-center" key="successMessage"></p-toast>
<p-toast position="bottom-center" key="errorMessage"></p-toast>
</div>

