.formu {
  background-color: rgba(65, 69, 110, 0.093);
  padding: 20px;
  border-radius: 5px;
  color: rgb(0, 0, 0); /* Color de texto */
}

.formu{
  position: relative;
  z-index: 200; /* valor alto para que el formulario aparezca encima del logo de fondo */
}
