
<div class="justify-content-md-center formu">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-3">
      <p class="fs-3 my-3">Lista de precios de transporte</p>
    </div>

  </div>

  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-3 mb-3">
      <p-button label="Agregar" icon="pi pi-plus" iconPos="right" routerLink="form-rol" class="mb-3" routerLink="/home/apu-transport-prices/create"></p-button>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      
      <ngx-datatable
  class="material mt-2"
  [rows]="rows"
  [headerHeight]="70"
  [footerHeight]="70"
  rowHeight="auto"
  [limit]="10"
  [scrollbarH]="true"
  [loadingIndicator]="loadingIndicator"
  [columnMode]="'force'"
>
  <ngx-datatable-column name="description" [resizeable]="true" [width]="300">
    <ng-template ngx-datatable-header-template>
      Descripción:
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.description }}
    </ng-template>
  </ngx-datatable-column>

  <!-- Add additional columns here -->
  <ngx-datatable-column name="unit" [resizeable]="true" [width]="100">
    <ng-template ngx-datatable-header-template>
      Unit:
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.unit }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="unit_price_eje_value" [resizeable]="true" [width]="150">
    <ng-template ngx-datatable-header-template>
      Unit Price Eje Value:
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.unit_price_eje_value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="unit_price_bogota_value" [resizeable]="true" [width]="150">
    <ng-template ngx-datatable-header-template>
      Unit Price Bogota Value:
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.unit_price_bogota_value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="unit_price_medellin_value" [resizeable]="true" [width]="150">
    <ng-template ngx-datatable-header-template>
      Unit Price Medellin Value:
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.unit_price_medellin_value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="actions" [resizeable]="false" [width]="100">
    <ng-template ngx-datatable-header-template>
      Actions:
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button [routerLink]="['/home/apu-transport-prices/edit', row.id]" class="btn btn-primary">Edit</button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
 
    </div>
    <div class="col-1"></div>
  </div>


