.button-generate {
  margin-bottom: 10px; /* Añade un margen inferior para separar los botones */
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #ccc;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.button-create {
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #ccc;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}











