<h1>Lista de Materiales</h1>
<button routerLink="/home/apu-materials/create">Crear</button>

<ngx-datatable
  class="material mt-2"
  [rows]="materials"
  [headerHeight]="70"
  [footerHeight]="70"
  rowHeight="auto"
  [limit]="10"
  [scrollbarH]="true"
  [loadingIndicator]="loadingIndicator"
>
  <!-- <ngx-datatable-column name="code" [resizeable]="true" [width]="300">
    <ng-template ngx-datatable-header-template>
      Código:
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.code }}
    </ng-template>
  </ngx-datatable-column> -->

  <ngx-datatable-column name="description" [resizeable]="true" [width]="500">
    <ng-template ngx-datatable-header-template>
      Descripción:
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.description }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="unit" [resizeable]="true" [width]="200">
    <ng-template ngx-datatable-header-template>
      Unidad:
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.unit }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="unit_value" [resizeable]="true" [width]="200">
    <ng-template ngx-datatable-header-template>
      Valor Unidad:
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.unit_value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="reference_link" [resizeable]="true" [width]="500">
    <ng-template ngx-datatable-header-template>
      Enlace de Referencia:
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.reference_link }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="chapter_id" [resizeable]="true" [width]="200">
    <ng-template ngx-datatable-header-template>
      ID Capítulo:
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.chapter_id }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="chapter_id" [resizeable]="true" [width]="200">
    <ng-template ngx-datatable-header-template>
      Acciones
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button routerLink="/home/apu-materials/edit/{{ row.id }}">Editar</button>

    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>