<div class="container">
  <p class="h2 my-3"><b>Crear oferta comercial</b>.</p>
  <form [formGroup]="offersForm" (ngSubmit)="onSubmit()" class="formu">
    <div class="row">
      <div class="mb-3 form-group col-md-2">
        <label class="form-label" for="">Sede:</label>
        <select
          class="form-select"
          formControlName="sede"
          aria-label="Default select example"
        >
          <option *ngFor="let sede of sedes" [value]="sede.id">{{sede.name}}</option>
        </select>
        <br />
       <!--  <input
          class="form-control"
          *ngIf="tipoContratacion === '4'"
          type="text"
          formControlName="contract_type_other"
          placeholder="Ingrese el tipo de contratación"
        /> -->
        <div *ngIf="globalService.isFieldInvalid(sede, 'required')">
          <small style="color: #ef4444;">Este campo no puede estar vació</small>
        </div>
      </div>

      <div class="mb-3 form-group col-md-2">
        <label class="form-label" for="validation01"># Consecutivo</label>
        <input
          type="text"
          [readonly]="true"
          formControlName="sequential_number"
          class="form-control is-valid"
          id="validationServer01"
          placeholder="#"
          [disabled]="true"
        />
        <div *ngIf="globalService.isFieldInvalid(sequential_number, 'required')">
          <small style="color: #ef4444;">Este campo no puede estar vació</small>
        </div>
      </div>

      <div class="mb-3 form-group col-md-10">
        <label class="form-label" for="validation03">Número identificación cliente *</label>
        <input type="number" class="form-control" [ngClass]="isCustomerFound === null ? '' : isCustomerFound ? 'is-valid' : 'is-invalid'" formControlName="customer_identification" id="validation03" placeholder=""/>
        <div *ngIf="globalService.isFieldInvalid(customer_identification, 'required')">
          <small  style="color: #ef4444;">Este campo no puede estar vació</small>
        </div>
        <div class="valid-feedback">Cliente encontrado con {{identification_type}}</div>
        <div class="invalid-feedback">
          Cliente no encontrado por favor digite un numero correcto.
        </div>
        
      </div>

      <div *ngIf="identification_type !== 'NIT';else elseCondition" class="row">
        <div class="mb-3 form-group col-md-6">
          <label class="form-label" for="validation01">Nombres *</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            [readonly]="true"
            id="validation01"
          />
        </div>
        <div class="mb-3 form-group col-md-6">
          <label class="form-label" for="validation01">Apellidos *</label>
          <input
            type="text"
            class="form-control"
            formControlName="surname"
            [readonly]="true"
            id="validation01"
          />
        </div>
  
        <div class="mb-3 form-group col-md-6">
          <label class="form-label" for="validation06">Razón Social *</label>
          <input
            type="text"
            class="form-control"
            formControlName="razon_social"
            [readonly]="true"
          />
        </div>
  
        <div class="mb-3 form-group col-md-6">
          <label class="form-label" for="validation06">Razón comercial *</label>
          <input
            type="text"
            class="form-control"
            formControlName="razon_comercial"
            [readonly]="true"
          />
        </div>
      </div>
      <ng-template #elseCondition>
        <div class="row">
          <div class="mb-3 form-group col-md-6">
            <label class="form-label" for="validation06">Razón Social *</label>
            <input
              type="text"
              class="form-control"
              formControlName="razon_social"
              [readonly]="true"
            />
          </div>
    
          <div class="mb-3 form-group col-md-6">
            <label class="form-label" for="validation06">Razón comercial *</label>
            <input
              type="text"
              class="form-control"
              formControlName="razon_comercial"
              [readonly]="true"
            />
          </div>
          
          <div class="mb-3 form-group col-md-6">
            <label class="form-label" for="validation01">Nombres *</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              [readonly]="true"
              id="validation01"
            />
          </div>
          <div class="mb-3 form-group col-md-6">
            <label class="form-label" for="validation01">Apellidos *</label>
            <input
              type="text"
              class="form-control"
              formControlName="surname"
              [readonly]="true"
              id="validation01"
            />
          </div>
    
         
        </div>
      </ng-template>



      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Responsable Comercial*</label>
        <select
          class="form-select"
          formControlName="responsable_id"
          aria-label="Default select example"
        >
          <option *ngFor="let user of usersListResponsableComercial" [value]="user.id">
            {{user.name}} {{user.surname}}
          </option>
        </select>
        <div *ngIf="globalService.isFieldInvalid(responsable_id, 'required')">
          <small  style="color: #ef4444;">Este campo no puede estar vació</small>
        </div>
      </div>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Responsable Operativo*</label>
        <select
          class="form-select"
          formControlName="responsable_operativo_id"
          aria-label="Default select example"
        >
          <option *ngFor="let user of usersListResponsableOperativo" [value]="user.id">
            {{user.name}} {{user.surname}}
          </option>
        </select>
        <div *ngIf="globalService.isFieldInvalid(responsable_operativo_id, 'required')">
          <small  style="color: #ef4444;">Este campo no puede estar vació</small>
        </div>
      </div>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09"
          >Tipo de contratación *</label
        >
        <select
          class="form-select"
          formControlName="contract_type"
          aria-label="Default select example"
        >
          <option value="1">PRECIO GLOBAL FIJO</option>
          <option value="2">PRECIO UNITARIO FIJO</option>
          <option value="3">ADMINISTRACIÓN DELEGADA</option>
          <option value="4">OTRO</option>
        </select>
        <div *ngIf="globalService.isFieldInvalid(contract_type, 'required')">
          <small  style="color: #ef4444;">Este campo no puede estar vació</small>
        </div>
        <br />
        <input
          class="form-control"
          *ngIf="contract_type.value === '4'"
          type="text"
          formControlName="contract_type_other"
          placeholder="Ingrese el tipo de contratación"
        />
      </div>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Unidad de negocio*</label>
        <select
          class="form-select"
          formControlName="service_type"
          aria-label="Default select example"
        >
          <option *ngFor="let negocio_unidad of negocio_unidades" [value]="negocio_unidad.id">{{negocio_unidad.name}}</option>
        </select>
        <div *ngIf="globalService.isFieldInvalid(service_type, 'required')">
          <small  style="color: #ef4444;">Este campo no puede estar vació</small>
        </div>
        <br />
        <input
          class="form-control"
          *ngIf="service_type.value === '5'"
          type="text"
          formControlName="service_type_other"
          placeholder="Ingrese la unidad de negocio"
        />
      </div>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Sector Economia *</label>
        <select
          class="form-select"
          formControlName="sector_productivo"
          aria-label="Default select example"
        >
          <option value="1">AGROPECUARIO - GANADERA</option>
          <option value="2">COMERCIO - HOTELERIA Y RESTAURANTES</option>
          <option value="3">COMUNICACIONES Y TECNOLOGIA DE INFORMACION</option>
          <option value="4">CONSTRUCCIÓN</option>
          <option value="5">EDUCACIÓN</option>
          <option value="6">FINANCIERO</option>
          <option value="7">INDUSTRIAL</option>
          <option value="8">MINERO - ENERGETICO - GAS Y AGUA</option>
          <option value="9">INDUSTRIA DE ALIMENTOS</option>
          <option value="10">SERVICIOS</option>
          <option value="11">TRANSPORTE</option>
          <option value="12">OTRO</option>
        </select>
        <div *ngIf="globalService.isFieldInvalid(sector_productivo, 'required')">
          <small  style="color: #ef4444;">Este campo no puede estar vació</small>
        </div>
        <br />
        <input
          class="form-control"
          *ngIf="sector_productivo.value === '12'"
          formControlName="sector_productivo_other"
          type="text"
          placeholder="Ingrese el sector economico"
        />
      </div>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Objeto *</label>
        <textarea
          type="text"
          class="form-control"
          formControlName="object_description"
          id="validation09"
          placeholder="Objeto"
          rows="4"
          cols="50"
        ></textarea>
        <div *ngIf="globalService.isFieldInvalid(object_description, 'required')">
          <small  style="color: #ef4444;">Este campo no puede estar vació</small>
        </div>
      </div>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation08">Número</label>
        <input
          type="number"
          class="form-control"
          formControlName="numero"
          placeholder="#"
        />
      </div>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09"
          >Cuantía (Presupuesto oficial)</label
        >
        <input
          type="text"
          class="form-control"
          currencyMask
          formControlName="cuantia"
          id="validation09"
          [options]="{ prefix: '$ ', thousands: '.', decimal: ',',precision: 0 }"
        />
      </div>
      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Ubicación *</label>
        <input
          type="text"
          class="form-control"
          formControlName="location"
        />
        <div *ngIf="globalService.isFieldInvalid(location, 'required')">
          <small  style="color: #ef4444;">Este campo no puede estar vació</small>
        </div>
      </div>
      <br />

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09"
          >Fecha de publicación *</label
        >
        <input
          type="date"
          class="form-control"
          formControlName="release_date"
          placeholder="Cargue archivo"
        />
        <div *ngIf="globalService.isFieldInvalid(release_date, 'required')">
          <small  style="color: #ef4444;">Este campo no puede estar vació</small>
        </div>
      </div>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Fecha de entrega * </label>
        <input
          type="date"
          class="form-control"
          formControlName="delivery_date"
          placeholder="Seleccione"
        />
        <div *ngIf="globalService.isFieldInvalid(delivery_date, 'required')">
          <small  style="color: #ef4444;">Este campo no puede estar vació</small>
        </div>
      </div>
    </div>
    <br />

    <!-- Modal -->
    <!-- Button trigger modal -->
    <button
    type="button"
    class="btn btn-primary"
    for="validation09"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    >
    Adicionar Visita
  </button>
  <br />
  
  <!-- Modal -->
  <div
  class="modal fade modal_stilos"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog  ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Datos visita
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 form-group col-md-8">
          <label class="form-label" for="validation01">Lugar visita</label>
          <input
            type="text"
            class="form-control"
            formControlName="visit_place"
          />
        </div>

        <div class="mb-3 form-group col-md-6">
          <label class="form-label" for="validation09"
            >Fecha visita *
          </label>
          <input
            type="date"
            class="form-control"
            formControlName="visit_date"
            id="validation09"
            placeholder="Seleccione"
          />
        </div>

        <div class="mb-3 form-group col-md-8">
          <label class="form-label" for="validation01"
            >Persona que atiende</label
          >
          <input
            type="text"
            class="form-control"
            formControlName="person_attending"
          />
        </div>

        <div class="mb-3 form-group col-md-8">
          <label class="form-label" for="validation01"
            >Número de contacto</label
          >
          <input
            type="number"
            class="form-control"
            formControlName="phone_number_person_attending"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cerrar
        </button>
        <button type="button"  data-bs-dismiss="modal" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
  </div>
  <!-- Modal -->



    <br />
    <div class="mb-3 form-group col-md-6">
      <label class="form-label" for="validation09">Observaciones</label>
      <textarea
        type="textarea"
        class="form-control"
        formControlName="observations"
        id="validation09"
        rows="4"
        cols="50"
        placeholder=""
      ></textarea>
    </div>

    


  </form>

</div>
<br>
  <app-admin-oportunidad 
    [isCreating]="true"
    (newFileEvent)="newFileEventChildAdminOportunidad($event)"
    (requirementsVerificationValuesEvent)="requirementsVerificationValuesEvent($event)"
  ></app-admin-oportunidad>


<br>

<app-crear-cotizacion 
  [isCreating]="true"
  [parentFormGroup]="offersForm"
></app-crear-cotizacion>

<div class="row d-flex justify-content-center">
  <button (click)="onSubmit()" class="btn btn-primary col-4">Guardar oportunidad</button>
</div>
<br>

<p-toast key="errorToast" position="bottom-center"></p-toast>
<p-toast key="successToast" position="bottom-center"></p-toast>

