
<div class="container">
  <p class="h2 my-3"><b>Crear Cliente</b></p>
  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="formu">
    <div class="row">
      <div class="mb-3 form-group col-md-4" >
        <label for="identification_type" class="form-label">Tipo de documento *</label>
        <select class="form-select"  (change)="changeSelectTipoDoc($event)" formControlName="identification_type" id="identification_type" aria-label="Default select example" >
          <option value="1">CC</option>
          <option value="2">NIT</option>
          <option value="3">CE</option>
        </select>
      </div>
      <div class="mb-3 form-group " [ngClass]="expandAllClass === true ? 'col-md-8' : 'col-md-6'">
        <label for="identification" class="form-label">Número identificación *</label>
        <input type="number" class="form-control" formControlName="identification" id="identification" placeholder="" required>
      </div>
      <div *ngIf="showDigitV" class="mb-3 form-group col-md-2">
        <label for="digit_v" class="form-label">DV</label>
        <input type="number" class="form-control" formControlName="digit_v" id="digit_v" placeholder="#" required>
      </div>

      <!-- LOGIC NAMES -->
      <div class="col-md-12" *ngIf="showDigitV;else templateName1">
        <div class="row" >
          <div class="mb-3 form-group col-md-6">
            <label for="validation06" class="form-label">Razón social *</label>
            <input type="text" class="form-control" formControlName="razon_social" id="validation06" placeholder="" required>
          </div>
      
            <div class="mb-3 form-group col-md-6">
              <label for="validation06" class="form-label">Razón comercial *</label>
              <input type="text" class="form-control" formControlName="razon_comercial" id="validation06" placeholder="" required>
          </div>
        </div>
      </div>
      <ng-template #templateName1>
        <div class="col-md-12" >
          <div class="row" >
          <div class="mb-3 form-group col-md-6">
            <label for="name" class="form-label">Nombres *</label>
            <input type="text" class="form-control" formControlName="name" id="name" placeholder="Nombres" >
          </div>
          <div class="mb-3 form-group col-md-6">
            <label for="surname" class="form-label">Apellidos *</label>
            <input type="text" class="form-control"  formControlName="surname" id="surname" placeholder="Apellidos" >
          </div>
          </div>
        </div>
      </ng-template>


      <div class="mb-3 form-group col-md-12">
        <label for="phone_number" class="form-label">Número telefónico * </label>
        <input type="number" class="form-control" formControlName="phone_number" id="phone_number" placeholder=" # Telefono" required>
      </div>

      <div class="mb-3 form-group col-md-4">
        <label for="phone_number" class="form-label">Departamento * </label>
        <ion-item >
          <!-- <ion-label >Port</ion-label> -->
          <ionic-selectable [items]="departamentos" itemValueField="id" itemTextField="name" [canSearch]="true" formControlName="departamento" (onChange)="departamentoChange($event)" >
          </ionic-selectable>
        </ion-item>
        <!-- <label for="validation04" class="form-label">Departamento *</label>
        <input type="text" class="form-control" formControlName="departamento"  id="validation04" placeholder="Direccion" required> -->
      </div>

      <div class="mb-3 form-group col-md-4">
        <label for="phone_number" class="form-label">Municipio * </label>
        <ion-item >
          <!-- <ion-label >Port</ion-label> -->
          <ionic-selectable [items]="municipios" itemValueField="id" itemTextField="name" [canSearch]="true" formControlName="municipio">
          </ionic-selectable>
        </ion-item>
      </div>


      <div class="mb-3 form-group col-md-4">
        <label for="validation04" class="form-label">Dirección *</label>
        <input type="text" class="form-control" formControlName="address"  id="validation04" placeholder="Direccion" required>
      </div>


      <div class="mb-3 form-group col-md-12">
        <label for="validation04" class="form-label">Correo electrónico *</label>
        <input type="email" class="form-control" formControlName="email"  id="validation04" placeholder="ejemplo@gmail.com" required>
      </div>


        <div class="col-md-3">
          <button type="button"  for="contacto1" data-bs-toggle="modal" data-bs-target="#contacto1">
            Contacto comercial 1
          </button>
        </div> <br>

        <div class="col-md-3">
          <button type="button" for="contacto2" data-bs-toggle="modal" data-bs-target="#contacto2">
            Contacto comercial 2 </button>
          </div><br>

          <div class="col-md-3">
            <button type="button" for="" data-bs-toggle="modal" data-bs-target="#contacto3">
              Contacto Facturación</button>
            </div><br>

            <div class="col-md-3">
              <button type="button" for="" data-bs-toggle="modal" data-bs-target="#contacto4">
                Contacto Pagos / Tesoreria</button>
              </div><br>

              <br>
              <br>
              <br>

    <!-- LOGIC NAMES -->
    <div class="col-md-12" *ngIf="!showDigitV;else templateName2">
      <div class="row" >
        <div class="mb-3 form-group col-md-6">
          <label for="validation06" class="form-label">Razón social *</label>
          <input type="text" class="form-control" formControlName="razon_social" id="validation06" placeholder="" required>
        </div>
    
          <div class="mb-3 form-group col-md-6">
            <label for="validation06" class="form-label">Razón comercial *</label>
            <input type="text" class="form-control" formControlName="razon_comercial" id="validation06" placeholder="" required>
        </div>
      </div>
    </div>
    <ng-template #templateName2>
      <div class="col-md-12" >
        <div class="row" >
        <div class="mb-3 form-group col-md-6">
          <label for="name" class="form-label">Nombres *</label>
          <input type="text" class="form-control" formControlName="name" id="name" placeholder="Nombres" >
        </div>
        <div class="mb-3 form-group col-md-6">
          <label for="surname" class="form-label">Apellidos *</label>
          <input type="text" class="form-control"  formControlName="surname" id="surname" placeholder="Apellidos" >
        </div>
        </div>
      </div>
    </ng-template>

      <div class="mb-3 form-group col-md-6">
        <label for="validation07" class="form-label">RUT *</label>
        <input type="file" class="form-control"   formControlName="rut_file_field" (change)="onFileChange($event, 'rut_file_field')" id="validation07" placeholder="" required>
      </div>

      <div class="mb-3 form-group col-md-6">
        <label for="validation08" class="form-label">Cámara de comercio</label>
        <input type="file" class="form-control" formControlName="camara_commerce_file_field" (change)="onFileChange($event, 'camara_commerce_file_field')" id="validation08" placeholder="Cargue archivo" required>
      </div>

      <div class="mb-3 form-group col-md-6">
        <label for="validation09" class="form-label">Declaración de renta</label>
        <input type="file" class="form-control" formControlName="income_statement_file_field" (change)="onFileChange($event, 'income_statement_file_field')" id="validation09" placeholder="Cargue archivo" required>
      </div>

      <div class="mb-3 form-group col-md-6">
        <label class="form-label" for="validation09">Logo cliente</label>

        <!-- <input type="file" class="d-none"  formControlName="cliente_logo_field" (change)="onFileChange($event, 'cliente_logo_field')" #logoInput accept="image/png, image/jpeg" id="validation09" placeholder="Seleccione" required textarea>
        <img src="assets/icon/5a1a5de62a55e.jpg"width="80" height="80" (click)="logoInput.click()"> -->

        <br>
        <input type="file" class="form-control d-none"  formControlName="cliente_logo_field" (change)="onFileSelected($event)" #photoInput accept="image/png, image/jpeg" id="validation09" placeholder="Seleccione" >
        <img [src]="selectedFile || '/assets/icon/foto.png'" class="img-fluid" alt="No image"
        (click)="photoInput.click()">

      </div>

    </div>

    <div class="d-flex justify-content-end col-md-12">
      <button type="submit" class="btn btn-primary">Crear cliente</button>
    </div>

    <div *ngIf="registeredSuccessfully" class="alert alert-success alert-dismissible fade show mt-2" role="alert">
      <strong>Mensaje</strong> Cliente creado exitosamente
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </form>
        <!-- *****************************MODALES CODE***************************** -->
        <!-- Modal contacto 1 -->
        
        <div class="modal fade modal_stilos" id="contacto1" tabindex="-1" aria-labelledby="contacto1" aria-hidden="true">
          <form [formGroup]="formContacto1">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Registre Contacto Comercial
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-10">
                    <div class="mb-3 form-group">
                      <label class="form-label" for="">Nombre</label>
                      <input type="text" formControlName="name" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="mb-3 form-group">
                      <label class="form-label" for="">Celular</label>
                      <input type="number" formControlName="phone_number" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="mb-3 form-group">
                      <label class="form-label" for="">Telefono</label>
                      <input type="number" formControlName="telephone_number" class="form-control" required />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3 form-group">
                      <label class="form-label" for="">EXT</label>
                      <input type="number" formControlName="telephone_number_ext" class="form-control" required />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="mb-3 form-group">
                      <label class="form-label" for="">Correo</label>
                      <input type="email" formControlName="email" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="mb-3 form-group col-md-6">
                    <label for="phone_number" class="form-label">Departamento * </label>
                    <ion-item>
                      <!-- <ion-label >Port</ion-label> -->
                      <ionic-selectable
                        [items]="departamentos"
                        itemValueField="id"
                        itemTextField="name"
                        [canSearch]="true"
                        formControlName="departamento_id"
                        (onChange)="departamentoChange($event, 1)"
                        >
                      </ionic-selectable>
                    </ion-item>
                    <!-- <label for="validation04" class="form-label">Departamento *</label>
                    <input type="text" class="form-control" formControlName="departamento"  id="validation04" placeholder="Direccion" required> -->
                  </div>
                  
                  <div class="mb-3 form-group col-md-6">
                    <label for="phone_number" class="form-label">Municipio * </label>
                    <ion-item>
                      <!-- <ion-label >Port</ion-label> -->
                      <ionic-selectable
                        [items]="formContacto1Municipios"
                        itemValueField="id"
                        itemTextField="name"
                        [canSearch]="true"
                        formControlName="municipio_id"
                       
                        >
                      </ionic-selectable>
                    </ion-item> 
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Cancelar
                </button>
                <button type="button" (click)="printData()" data-bs-dismiss="modal" class="btn btn-primary">OK</button>
              </div>
            </div>
          </div>
        
          </form>
        </div>

        <!-- Modal contacto 2 -->
        <div class="modal fade modal_stilos" id="contacto2" tabindex="-1" aria-labelledby="contacto2" aria-hidden="true">
          <form [formGroup]="formContacto2">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Registre Contacto Comercial
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-10">
                      <div class="mb-3 form-group">
                        <label class="form-label" for="">Nombre</label>
                        <input type="text" formControlName="name" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="mb-3 form-group">
                        <label class="form-label" for="">Celular</label>
                        <input type="number" formControlName="phone_number" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mb-3 form-group">
                        <label class="form-label" for="">Telefono</label>
                        <input type="number" formControlName="telephone_number" class="form-control" required />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3 form-group">
                        <label class="form-label" for="">EXT</label>
                        <input type="number" formControlName="telephone_number_ext" class="form-control" required />
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="mb-3 form-group">
                        <label class="form-label" for="">Correo</label>
                        <input type="email" formControlName="email" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 form-group col-md-6">
                      <label for="phone_number" class="form-label">Departamento * </label>
                      <ion-item>
                        <!-- <ion-label >Port</ion-label> -->
                        <ionic-selectable
                          [items]="departamentos"
                          itemValueField="id"
                          itemTextField="name"
                          [canSearch]="true"
                          formControlName="departamento_id"
                          (onChange)="departamentoChange($event,2)"
                          >
                        </ionic-selectable>
                      </ion-item>
                      <!-- <label for="validation04" class="form-label">Departamento *</label>
                      <input type="text" class="form-control" formControlName="departamento"  id="validation04" placeholder="Direccion" required> -->
                    </div>
                    
                    <div class="mb-3 form-group col-md-6">
                      <label for="phone_number" class="form-label">Municipio * </label>
                      <ion-item>
                        <!-- <ion-label >Port</ion-label> -->
                        <ionic-selectable
                          [items]="formContacto2Municipios"
                          itemValueField="id"
                          itemTextField="name"
                          [canSearch]="true"
                          formControlName="municipio_id"
                         
                          >
                        </ionic-selectable>
                      </ion-item> 
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancelar
                  </button>
                  <button type="button" (click)="printData()" data-bs-dismiss="modal" class="btn btn-primary">OK</button>
                </div>
              </div>
            </div>
          
            </form>
        </div>

        <!-- Modal facturacion3  -->
        <div class="modal fade modal_stilos" id="contacto3" tabindex="-1" aria-labelledby="contacto3" aria-hidden="true">
          <form [formGroup]="formContactoFacturacion">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Registre Contacto Comercial
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-10">
                      <div class="mb-3 form-group">
                        <label class="form-label" for="">Nombre</label>
                        <input type="text" formControlName="name" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="mb-3 form-group">
                        <label class="form-label" for="">Celular</label>
                        <input type="number" formControlName="phone_number" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mb-3 form-group">
                        <label class="form-label" for="">Telefono</label>
                        <input type="number" formControlName="telephone_number" class="form-control" required />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3 form-group">
                        <label class="form-label" for="">EXT</label>
                        <input type="number" formControlName="telephone_number_ext" class="form-control" required />
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="mb-3 form-group">
                        <label class="form-label" for="">Correo</label>
                        <input type="email" formControlName="email" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 form-group col-md-6">
                      <label for="phone_number" class="form-label">Departamento * </label>
                      <ion-item>
                        <!-- <ion-label >Port</ion-label> -->
                        <ionic-selectable
                          [items]="departamentos"
                          itemValueField="id"
                          itemTextField="name"
                          [canSearch]="true"
                          formControlName="departamento_id"
                          (onChange)="departamentoChange($event, 3)"
                          >
                        </ionic-selectable>
                      </ion-item>
                      <!-- <label for="validation04" class="form-label">Departamento *</label>
                      <input type="text" class="form-control" formControlName="departamento"  id="validation04" placeholder="Direccion" required> -->
                    </div>
                    
                    <div class="mb-3 form-group col-md-6">
                      <label for="phone_number" class="form-label">Municipio * </label>
                      <ion-item>
                        <!-- <ion-label >Port</ion-label> -->
                        <ionic-selectable
                          [items]="formContactoFacturacionMunicipios"
                          itemValueField="id"
                          itemTextField="name"
                          [canSearch]="true"
                          formControlName="municipio_id"
                         
                          >
                        </ionic-selectable>
                      </ion-item> 
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancelar
                  </button>
                  <button type="button" (click)="printData()" data-bs-dismiss="modal" class="btn btn-primary">OK</button>
                </div>
              </div>
            </div>
          
            </form>
        </div>


        <!-- Modal pagos/tesoreria  -->
        <div class="modal fade modal_stilos" id="contacto4" tabindex="-1" aria-labelledby="contacto4" aria-hidden="true">
          <form [formGroup]="formContactoPagos">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Registre Contacto Comercial
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-10">
                      <div class="mb-3 form-group">
                        <label class="form-label" for="">Nombre</label>
                        <input type="text" formControlName="name" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="mb-3 form-group">
                        <label class="form-label" for="">Celular</label>
                        <input type="number" formControlName="phone_number" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mb-3 form-group">
                        <label class="form-label" for="">Telefono</label>
                        <input type="number" formControlName="telephone_number" class="form-control" required />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3 form-group">
                        <label class="form-label" for="">EXT</label>
                        <input type="number" formControlName="telephone_number_ext" class="form-control" required />
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="mb-3 form-group">
                        <label class="form-label" for="">Correo</label>
                        <input type="email" formControlName="email" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 form-group col-md-6">
                      <label for="phone_number" class="form-label">Departamento * </label>
                      <ion-item>
                        <!-- <ion-label >Port</ion-label> -->
                        <ionic-selectable
                          [items]="departamentos"
                          itemValueField="id"
                          itemTextField="name"
                          [canSearch]="true"
                          formControlName="departamento_id"
                          (onChange)="departamentoChange($event, 4)"
                          >
                        </ionic-selectable>
                      </ion-item>
                      <!-- <label for="validation04" class="form-label">Departamento *</label>
                      <input type="text" class="form-control" formControlName="departamento"  id="validation04" placeholder="Direccion" required> -->
                    </div>
                    
                    <div class="mb-3 form-group col-md-6">
                      <label for="phone_number" class="form-label">Municipio * </label>
                      <ion-item>
                        <!-- <ion-label >Port</ion-label> -->
                        <ionic-selectable
                          [items]="formContactoPagosMunicipios"
                          itemValueField="id"
                          itemTextField="name"
                          [canSearch]="true"
                          formControlName="municipio_id"
                         
                          >
                        </ionic-selectable>
                      </ion-item> 
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancelar
                  </button>
                  <button type="button" (click)="printData()" data-bs-dismiss="modal" class="btn btn-primary">OK</button>
                </div>
              </div>
            </div>
          
            </form>
        </div>

      <!-- *****************************MODALES CODE END*****************************-->


</div>
