<div class="container card">
  <p class="h2 my-3"><b>Crear Empleado</b></p>
  <form
    [formGroup]="employeeForm"
    (ngSubmit)="onSubmit()"
    method="post"
    enctype="multipart/form-data"
    class="card-body"
  >
    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="name" class="form-label">Nombres </label>
        <input
          value="julian"
          type="text"
          class="form-control"
          placeholder="Jose"
          required
          formControlName="name"
          id="name"
        />
      </div>

      <div class="mb-3 col-md-6">
        <label for="surname" class="form-label">Apellido *</label>
        <input
          value="anturi"
          type="text"
          class="form-control"
          id="surname"
          placeholder="Alvarez"
          required
          formControlName="surname"
        />
      </div>
      <div class="mb-3 col-md-6">
        <label for="id-card" class="form-label">Número de documento *</label>
        <input
          value="julian"
          value="3116257241"
          type="text"
          class="form-control"
          id="id-card"
          required
          formControlName="id_card"
        />
      </div>
      <div class="mb-3 col-md-6">
        <label for="type_id" class="form-label">Tipo de documento *</label>
        <select
          class="form-select"
          name="type_id"
          id="type_id"
          (change)="onFileChange($event, 'type_id')"
        >
          <option value="hola">--Seleccione una</option>
          <option value="CC">Cedula de Ciudadanía</option>
          <option value="CE">Cedula de Extranjería</option>
          <option value="PPORT">Pasaporte</option>
        </select>
      </div>

      <div class="mb-3 col-md-6">
        <label for="email" class="form-label">Correo electrónico *</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="ejemplo@gmail.com"
          formControlName="email"
          value="julian.david897@gmail.com"
        />
      </div>

      <div class="mb-3 col-md-6">
        <label for="address" class="form-label">Dirección *</label>
        <input
          type="text"
          class="form-control"
          id="address"
          placeholder="Avenida siempreviva 123"
          required
          formControlName="address"
        />
      </div>

      <div class="mb-3 col-md-6">
        <label for="phone" class="form-label">Teléfono *</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          placeholder="3130000000"
          required
          formControlName="phone"
        />
      </div>
      <div class="mb-3 col-md-6">
        <label for="position" class="form-label">Cargo *</label>
        <input
          type="text"
          class="form-control"
          id="position"
          placeholder="Administrador"
          required
          formControlName="position"
        />
      </div>
      <div class="mb-3 col-md-6">
        <label for="exam_expiration" class="form-label"
          >Vencimiento de examen
        </label>
        <input
          type="date"
          class="form-control"
          id="exam_expiration"
          required
          formControlName="exam_expiration"
        />
      </div>
      <div class="mb-3 col-md-6">
        <label for="contract_expiration" class="form-label"
          >Vencimiento de contrato
        </label>
        <input
          type="date"
          class="form-control"
          id="contract_expiration"
          required
          formControlName="contract_expiration"
        />
      </div>
      <h3>Cargar documentos</h3>
      <hr />
      <div class="row">
        <div class="mb-3 form-group col-md-3">
          <label for="cv_file" #cvInput class="form-label">Hoja de vida </label>
          <input
            type="file"
            class="form-control d-none"
            formControlName="cv_file"
            (change)="onFileChange($event,  'cv_file')"
            #cvInput
            accept=".doc, .docx, .jpg, .png, .pdf"
            placeholder="seleccione"
            id="cv_file"
          />
          <br />
          <img
            [src]="'assets/icon/cv.png'"
            class="img-fluid"
            alt="no-image"
            (click)="openCvInput()"
            accept=".doc, .docx, .jpg, .png, .pdf"
            width="100"
          />
        </div>
        <div class="mb-3 form-group col-md-3">
          <label for="medical_exam_file" #medicalExamInput class="form-label"
            >Examen médico
          </label>
          <input
            type="file"
            class="form-control d-none"
            formControlName="medical_exam_file"
            (change)="onFileChange($event, 'medical_exam_file')"
            #medicalExamInput
            accept=".doc, .docx, .jpg, .png, .pdf"
            placeholder="seleccione"
            id="medical_exam_file"
          />
          <br />
          <img
            [src]="'assets/icon/medical_exam.png'"
            class="img-fluid"
            alt="no-image"
            (click)="openMedicalExamInput()"
            accept=".doc, .docx, .jpg, .png, .pdf"
            width="100"
          />
        </div>
        <div class="mb-3 form-group col-md-3">
          <label
            for="followup_letter_file"
            #followupLetterInput
            class="form-label"
            >Carta de seguimiento
          </label>
          <input
            type="file"
            class="form-control d-none"
            formControlName="followup_letter_file"
            (change)="onFileChange($event, 'followup_letter_file')"
            #followupLetterInput
            accept=".doc, .docx, .jpg, .png, .pdf"
            placeholder="seleccione"
            id="followup_letter_file"
          />
          <br />
          <img
            [src]="'assets/icon/followup_letter.png'"
            class="img-fluid"
            alt="no-image"
            (click)="openFollowupLetterInput()"
            accept=".doc, .docx, .jpg, .png, .pdf"
            width="100"
          />
        </div>
        <div class="mb-3 form-group col-md-3">
          <label for="history_file" #historyInput class="form-label"
            >Antecedentes
          </label>
          <input
            type="file"
            class="form-control d-none"
            formControlName="history_file"
            (change)="onFileChange($event, 'history_file')"
            #historyInput
            accept=".doc, .docx, .jpg, .png, .pdf"
            placeholder="seleccione"
            id="history_file"
          />

          <br /><img
            [src]="'assets/icon/history.png'"
            class="img-fluid"
            alt="no-image"
            (click)="openHistoryInput()"
            accept=".doc, .docx, .jpg, .png, .pdf"
            width="100"
          />
        </div>
        <div class="mb-3 form-group col-md-3">
          <label for="study_stands_file" #studyStandsInput class="form-label"
            >Soporte de estudio
          </label>
          <input
            type="file"
            class="form-control d-none"
            formControlName="study_stands_file"
            (change)="onFileChange($event, 'study_stands_file')"
            #studyStandsInput
            accept=".doc, .docx, .jpg, .png, .pdf"
            placeholder="seleccione"
            id="study_stands_file"
          />

          <br /><img
            [src]="'assets/icon/study_stands.png'"
            class="img-fluid"
            alt="no-image"
            (click)="openStudyStandsInput()"
            accept=".doc, .docx, .jpg, .png, .pdf"
            width="100"
          />
        </div>
        <div class="mb-3 form-group col-md-3">
          <label for="id_card_file" #idCardInput class="form-label"
            >Documento de identidad</label
          >
          <input
            type="file"
            class="form-control d-none"
            formControlName="id_card_file"
            (change)="onFileChange($event, 'id_card_file')"
            #idCardInput
            accept=".doc, .docx, .jpg, .png, .pdf"
            placeholder="seleccione"
            id="id_card_file"
          />

          <br /><img
            [src]="'assets/icon/id_card.png'"
            class="img-fluid"
            alt="no-image"
            (click)="openIdCardInput()"
            accept=".doc, .docx, .jpg, .png, .pdf"
            width="100"
          />
        </div>
        <div class="mb-3 form-group col-md-3">
          <label
            for="work_certificate_file"
            #workCertificateInput
            class="form-label"
            >Certificado laboral
          </label>

          <input
            type="file"
            class="form-control d-none"
            formControlName="work_certificate_file"
            (change)="onFileChange($event, 'work_certificate_file')"
            #workCertificateInput
            accept=".doc, .docx, .jpg, .png, .pdf"
            placeholder="seleccione"
            id="work_certificate_file"
          />
          <br />
          <img
            [src]="'assets/icon/work_certificate.png'"
            class="img-fluid"
            alt="No image"
            (click)="openWorkCertificateInput()"
            accept=".doc, .docx, .jpg, .png, .pdf"
            width="100"
          />
        </div>
        <div class="mb-3 form-group col-md-3">
          <label
            for="military_passbook_file"
            #militaryPassbookInput
            class="form-label"
            >Libreta militar
          </label>

          <input
            type="file"
            class="form-control d-none"
            formControlName="military_passbook_file"
            (change)="onFileChange($event, 'military_passbook_file')"
            #militaryPassbookInput
            accept=".doc, .docx, .jpg, .png, .pdf"
            placeholder="Seleccione"
            id="military_passbook_file"
          />
          <br />
          <img
            [src]="'assets/icon/military_passbook.png'"
            class="img-fluid"
            alt="No image"
            (click)="openMilitaryPassbookInput()"
            accept=".doc, .docx, .jpg, .png, .pdf"
            width="100"
          />
        </div>
      </div>

      <p-button
        [label]="isEditingData ? 'Editar' :'Guardar'"
        [disabled]="!employeeForm.valid"
        type="submit"
        [loading]="isSavingData"
      ></p-button>
      <p-button
        [label]="isEditingData ? 'Editar' :'Guardar'"
        type="submit"
        [loading]="isSavingData"
      ></p-button>

      <p-toast position="bottom-center" key="successMessage"></p-toast>
      <p-toast position="bottom-center" key="errorMessage"></p-toast>
    </div>
  </form>
</div>
