<div class="container card">
  <p class="h2 my-3"><b>Crear Empleado</b></p>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" method="post" enctype="multipart/form-data" class="card-body">
    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="name" class="form-label">Nombres *</label>
        <input
          type="text"
          class="form-control"
          placeholder="Jose"
          required
          formControlName="name"
        />
      </div>

      <div class="mb-3 col-md-6">
        <label for="surname" class="form-label">Apellido *</label>
        <input
          type="text"
          class="form-control"
          id="surname"
          placeholder="Alvarez"
          required
          formControlName="surname"
        />
      </div>
      <div class="mb-3 col-md-6">
        <label for="id-card" class="form-label">Número de documento *</label>
        <input
          value="3116257241"
          type="text"
          class="form-control"
          id="id-card"
          required
          formControlName="id_card"
        />
      </div>
      <div class="mb-3 col-md-6">
        <label for="type_id" class="form-label" >Tipo de documento *</label>
        <select class="form-select" name="type_id" id="type_id"(change)="onFileChange($event, 'type_id')" >
          <option value="hola">--Seleccione una</option>
          <option value="CC">Cedula de Ciudadanía</option>
          <option value="CE">Cedula de Extranjería</option>
          <option value="PPORT">Pasaporte</option>
        </select>
      </div>

      <div class="mb-3 col-md-6">
        <label for="email" class="form-label"
          >Correo electrónico *</label
        >
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="ejemplo@gmail.com"
          formControlName="email"
        />
      </div>

      <div class="mb-3 col-md-6">
        <label for="address" class="form-label">Dirección *</label>
        <input
          type="text"
          class="form-control"
          id="address"
          placeholder="Avenida siempreviva 123"
          required
          formControlName="address"
        />
      </div>
      <div class="mb-3 col-md-6">
        <label for="phone" class="form-label">Teléfono *</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          placeholder="3130000000"
          required
          formControlName="phone"
        />
      </div>
      <div class="mb-3 col-md-6">
        <label for="phone" class="form-label">Cargo *</label>
        <input
          type="text"
          class="form-control"
          id="position"
          placeholder="Administrador"
          required
          formControlName="position"
        />
      </div>

        <div class="mb-3 form-group col-md-12">
          <label for="cv_file_field" class="form-label">Hoja de vida *</label>
          <input
            type="file"
            class="form-control"
            formControlName="cv_file_field"
            (change)="onFileChange($event, 'cv_file_field')"
            id="cv_file_field"
            accept=".doc, .docx, .jpg, .png, .pdf"
          />
        </div>
        <div class="mb-3 form-group col-md-12">
          <label for="medical_exam_file_field" class="form-label">Examen médico *</label>
          <input
            type="file"
            class="form-control"
            formControlName="medical_exam_file_field"
            (change)="onFileChange($event, 'medical_exam_file_field')"
            id="medical_exam_file_field"
            accept=".doc, .docx, .jpg, .png, .pdf"
          />
        </div>

        <div class="mb-3 form-group col-md-12">
          <label for="followup_letter_file_field" class="form-label">Carta de seguimiento *</label>
          <input
            type="file"
            class="form-control"
            formControlName="followup_letter_file_field"
            (change)="onFileChange($event, 'followup_letter_file_field')"
            id="followup_letter_file_field"
            accept=".doc, .docx, .jpg, .png, .pdf"
          />
        </div>
        <div class="mb-3 form-group col-md-12">
          <label for="history_file_field" class="form-label">Antecedentes *</label>
          <input
            type="file"
            class="form-control"
            formControlName="history_file_field"
            (change)="onFileChange($event, 'history_file_field')"
            id="history_file_field"
            accept=".doc, .docx, .jpg, .png, .pdf"
          />
        </div>
        <div class="mb-3 form-group col-md-12">
          <label for="study_stands_file_field" class="form-label"
            >Soporte de estudio *</label
          >
          <input
            type="file"
            class="form-control"
            formControlName="study_stands_file_field"
            (change)="onFileChange($event, 'study_stands_file_field')"
            id="study_stands_file_field"
            accept=".doc, .docx, .jpg, .png, .pdf"
          />
        </div>
        <div class="mb-3 form-group col-md-12">
          <label for="id_card_file_field" class="form-label"
            >Documento de identidad*</label
          >
          <input
            type="file"
            class="form-control"
            formControlName="id_card_file_field"
            (change)="onFileChange($event, 'id_card_file_field')"
            id="id_card_file_field"
            accept=".doc, .docx, .jpg, .png, .pdf"
          />
        </div>
        <div class="mb-3 form-group col-md-12">
          <label for="work_certificate_file_field" class="form-label"
            >Certificado laboral *</label
          >
          <input
            type="file"
            class="form-control"
            formControlName="work_certificate_file_field"
            (change)="onFileChange($event, 'work_certificate_file_field')"
            id="work_certificate_file_field"
            accept=".doc, .docx, .jpg, .png, .pdf"
          />
        </div>

      <p-button
        [label]="isEditingData ? 'Editar' :'Guardar'"
        [disabled]="!employeeForm.valid"
        type="submit"
        [loading]="isSavingData"
      ></p-button>

      <p-toast position="bottom-center" key="successMessage"></p-toast>
      <p-toast position="bottom-center" key="errorMessage"></p-toast>
    </div>
  </form>
</div>
